#KERNEL=="sdd", ACTION=="add", SUBSYSTEM=="block", SUBSYSTEMS=="scsi", ATTRS{vendor}=="ASMT    ", TAG+="systemd", ENV{SYSTEMD_WANTS}="datastore-hotplug-handler@sdd.service"
